html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: "youngserifregular";
  src: url("../fonts/youngserif/youngserif-regular-webfont.eot");
  src: url("../fonts/youngserif/youngserif-regular-webfont-.eot#iefix")
      format("embedded-opentype"),
    url("../fonts/youngserif/youngserif-regular-webfont.woff2") format("woff2"),
    url("../fonts/youngserif/youngserif-regular-webfont.woff") format("woff"),
    url("../fonts/youngserif/youngserif-regular-webfont.ttf") format("truetype"),
    url("../fonts/youngserif/youngserif-regular-webfont.svg#youngserifregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Light";
  src: url("../fonts/apercu-light/apercu-light-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
body {
  font-family: "Apercu Light", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: 200;
  font-style: normal;
  background: #fff;
  height: 100%;
  color: #000;
}
.title {
  font-family: youngserifregular, sans-serif;
}
.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline !important;
}
.header {
  max-width: 1200px;
  width: 100%;
  position: fixed;
  margin-top: 30px;
  zoom: 1;
  z-index: 99;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.title-wrapper {
  float: left;
  padding-left: 10px;
  cursor: pointer;
}
.title-wrapper h1:hover {
  text-decoration: underline;
}
.title-wrapper h1.title {
  font-size: 30px;
}
.title-wrapper h2.title {
  font-size: 14px;
}
.menu-wrapper {
  float: right;
  text-align: right;
  padding-right: 10px;
}
.menu-wrapper h3.title {
  font-size: 20px;
}
.menu {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 2px 0 6px 0;
}
.menu a {
  font-family: "Apercu Light", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: 200;
  font-style: normal;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}
.menu a:hover {
  text-decoration: underline;
}
._show-menu:hover .menu,
._show-menu.activate .menu {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.content {
  width: 100%;
  height: 100%;
  margin: auto;
}

.home .post .title {
  position: absolute;
  font-family: youngserifregular, sans-serif;
  font-size: 70px;
  text-align: center;
  color: #000;
  text-decoration: none;
  width: 100%;
  z-index: 3;
}
.home .post .side-a,
.home .post .side-b {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.home .post .side-b {
  z-index: 1;
}
.home .post .hover {
  z-index: 2;
}
.footer {
  position: fixed;
  max-width: 1200px;
  width: 100%;
  bottom: 30px;
  z-index: 99;
}
.footer .about {
  float: left;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  z-index: 1;
}
.footer .about a {
  text-decoration: none;
  color: #000;
  font-family: youngserifregular, sans-serif;
  font-size: 20px;
}
.footer .connect {
  float: right;
  position: relative;
  z-index: 1;
}
.footer .source-code {
  font-family: "Apercu Light", Calibri, sans-serif !important;
  font-size-adjust: 0.508;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  margin: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: none;
}
.footer .source-code p {
  padding-top: 5px;
}
.first-post .footer .source-code {
  display: block;
}
.text_footer {
  text-align: center;
  width: 100%;
}
.text_footer p {
  font-family: "Apercu Light", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: 200;
  font-style: normal;
}
.text_footer p a {
  color: #000;
  text-decoration: none;
  padding-bottom: 20px !important;
}

.back-side {
  background: #000;
  color: #fff;
}
.back-side a,
.back-side .footer a,
.back-side a.title {
  color: #fff !important;
}

/**
  Article Page
**/
.article-cover {
  width: 100%;
  height: 340px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.article {
  width: auto;
  padding: 0 10px;
}
.article > h1 {
  margin: 30px 0 0 0;
}

.article h1 {
  font-family: youngserifregular, sans-serif;
  font-size: 50px;
}
.article h2 {
  font-family: youngserifregular, sans-serif;
  font-size: 30px;
  line-height: 35px;
}
.article p {
  font-family: "Apercu Light", Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: 200;
  font-style: normal;
  text-align: justify;
  line-height: 22px;
  text-justify: inter-word;
}
.article div {
  margin: 30px 0 30px 0;
  font-family: "Apercu Light", Calibri, sans-serif !important;
  font-size-adjust: 0.508;
  font-weight: 200;
  line-height: 22px;
  font-style: normal;
}
.article div.col-2 {
  width: 47%;
  float: left;
  margin-right: 3%;
}
.article div.col-1 {
  width: 100%;
}
.article img {
  max-width: 100%;
}

.home .post {
  height: 100%;
  width: 100%;
  position: relative;
}

.home .animate,
.home .first {
  position: relative;
  overflow: hidden;
}

.home .animate a img,
.home .first a img {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile .home .post img {
  width: 300px;
}
.mobile .home .post .title {
  font-size: 40px;
}
.mobile .home .post img {
  width: 300px;
}
.mobile .home .post .title {
  font-size: 40px;
}
.mobile .article div.col-2 {
  width: 100%;
}
.mobile .article-cover {
  height: 300px;
}

.internal .header {
  position: absolute !important;
  top: 0;
  z-index: 9;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

.side-a,
.side-b {
  text-decoration: none;
  color: #000;
  text-align: center;
}
.side-a span,
.side-b span {
  position: relative;
  color: #000;
  font-family: youngserifregular, sans-serif;
  font-size: 30px;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 5%;
  padding-left: 5%;
}

.container {
  visibility: visible;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #000000;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #000000;
}

.pace.pace-inactive {
  display: none;
}

.back-side .pace .pace-progress {
  background: #fff;
}
.back-side.pace-running {
  background: #000 !important;
}
.back-side .pace {
  background: #000 !important;
  border: 1px solid #fff !important;
}
