.body {
  margin: 0;
}
.header {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
  width: 100vw;
  border-bottom: 1px solid black;
  max-height: 10vh;
}

.container-content {
  height: 80vh;
}
.footer {
  border-top: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 1.75vh;
  position: fixed;
  width: 100vw;
  max-height: 10vh;
  bottom: 0;
  float: right;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li {
  float: right;
}

.footer li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer li a:hover {
  text-decoration: underline;
}

#page-slide {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s;
}

#page-slide.shown {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}


//about page stuff
.about-content,  .cv-content{
  font-family: 'PT Serif', serif;
}

.about-content {
  width: 50%;
  float: left;
}

.cv-content {
  width: 50%;
  float: right;
}